.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.loading {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.loading img{
  width: 10rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}